/*
 *	Archivo: style.css
 *	Autor: MikenTnT
 */

/* -------------------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #ffffff;
	color: black;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
	color: deepskyblue;
}

a:hover {
	text-decoration: none;
	color: blue;
}

/* -------------------------------------------------------------------------- */

.section {
	margin: 2rem auto;
	text-align: center;

	max-width: 61rem;
	min-width: 15rem;
}

.buttons {
	padding: 1.25rem 2.5rem;

	font-weight: bold;
	border-radius: 2rem;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	box-shadow: .25rem .25rem 0.5rem 0 #c0c0c0;
}
